* {
  margin: 0%;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
/* LINKS STYLING */
a {
  color: inherit;
  text-decoration: inherit;
}
/* nav bar  */
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  width: 150px;
  height: 50px;
}
/* hover effect */
.border {
  border: 1px solid transparent;
}
.border:hover {
  border: 1px solid #ffff;
}
/* box one  */
.logo {
  height: 50px;
  width: 100%;
  background-size: cover;
  background-image: url("assets/logo.png");
}

/* box 2  */
.nav-address {
  padding: 5px 8px 0px 6px;
  width: 88.64px;
  height: 50px;
}
.nav-address p {
  margin-left: 15px;
  font-size: 0.8rem;
  color: #cccccc;
}
.address-icon {
  justify-content: center;
  display: flex;
  align-items: center;
}
.address-icon p {
  margin-left: 2px;
  font-size: 1rem;
  color: #ffff;
}
/* box - 3  */
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 700px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid transparent;
}

.nav-search:hover {
  border: 2px solid #ff9900;
}

.search-select {
  background-color: #f3f3f3;
  width: 70px;
  height: 37px;
  text-align: center;
  /* padding: 0px 5px 0px 6px; */
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
}

.search-icon {
  background-color: #ff9900;
  font-size: 1.2rem;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* box 4  */
.nav-sign-in {
  padding: 10px 4px;
}

.nav-sign-in .first-line {
  font-size: 0.8rem;
}

.nav-sign-in .second-line {
  font-weight: 700;
  font-size: 0.85rem;
}

.nav-return {
  padding: 10px 3px;
}

.nav-return .first-line {
  font-size: 0.8rem;
}

.nav-return .second-line {
  font-weight: 700;
  font-size: 0.85rem;
}

/* box 5  */
.nav-shopping-cart {
  padding: 5px 10px;
  position: relative;
}

/* panel */
.panel {
  background-color: #142444;
  height: 40px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.panel-option {
  width: 1200px;
  display: flex;
}

.panel-option p {
  padding: 2px 10px;
}

.panel-all {
  padding: 2px 5px;
}

.panel-deals {
  font-weight: bold;
  padding: 2px 5px;
}

/* hero section  */
.hero-section {
  background-image: url(assets/hero2_image.jpg);
  height: 320px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.hero-message {
  font-size: 1rem;
  background-color: rgb(246, 246, 246);
  color: black;
  height: 35px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.hero-message a {
  color: #019c7a;
  text-decoration: none;
}

.hero-message a:hover {
  color: rgb(255, 132, 0);
}
/* shop-selection */
.shop-selection {
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}
.shop-selection .box {
  border-radius: 1px solid white;
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
}

.box-img {
  height: 300px;
  width: 290px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.box-content {
  padding: 0px 1rem;
}

.box-content h2 {
  font-size: 1.2rem;
}

.grey-divide {
  height: 20px;
  border: #0f1111;
  background-color: #eae8e850;
}

.content {
  display: flex;
}

/* PRODUCT GALLERY*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding-left: 1%;
  padding-top: 2%;
}

.gallery img {
  width: 100%;
  height: auto;
  margin: 5px;
}

.gallery:hover {
  cursor: pointer;
}

.main-image {
  width: 350px;
  height: 350px;
  margin: 5px;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease-in-out; /* Add this line */
}

.main-image:hover {
  transform: scale(1.6) translate(70px, 70px);
  transition: transform 0.4s ease-in-out; /* Add this line */
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  height: auto;
}

/*PRODUCT NAME*/
.description {
  flex: 10%;
  margin-left: 20px;
  max-width: 800px;
  padding-top: 2.5%;
}

.stars {
  display: flex;
  align-items: center;
  max-width: 90px;
  margin-left: 2px;
  margin-right: 3px;
}
.rating {
  display: flex;
  font-size: 15px;
}
.prime {
  max-width: 100px;
}

/*SIDE TABLE RIGHT, BASKET BUTTON*/
.product-listing {
  font-family: Arial, sans-serif;
  max-width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.price {
  font-size: 24px;
  color: #b12704;
}
.prime-tag {
  display: inline-block;
  background-color: #00a8e1;
  color: white;
  padding: 2px 5px;
  font-size: 14px;
  border-radius: 3px;
  margin-left: 5px;
}
.delivery-info {
  font-size: 14px;
  color: #555;
}
.stock-status {
  font-size: 16px;
  color: #008a00;
  margin-top: 10px;
}
.buy-options {
  margin-top: 10px;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.basket-button {
  background-color: #ffd814;
  border: none;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  width: 200px;
  height: 40px;
}
.buy-button {
  background-color: #ff9114;
  border: none;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  width: 200px;
  height: 40px;
}
.business-offer {
  background-color: #232f3e;
  color: white;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
}

/*RECOMMENDED PRODUCTS*/
.recommendedproducts {
  display: flex;
  align-items: center;
}
.reproduct {
  max-width: 230px;
  max-height: 230px;
  background-color: #eae8e850;
  justify-content: center;
  padding: 1%;
  margin-left: 2%;
}
.reproduct img {
  max-width: 200px;
  max-height: 200px;
}
.buytogether-button {
  background-color: #ffd814;
  border: none;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  width: 200px;
  height: 40px;
  margin-left: 2%;
}

/*FOOTER*/
.footer {
  background-color: #eae8e850;
  justify-content: center;
  display: flex;
  padding: 2%;
}
.footer p {
  max-width: 30%;
  text-align: center;
}
.boutghtTogether {
  margin-left: 2%;
}

/* numbers of items in the cart */
.cart-number {
  position: absolute;
  width: 40%;
  height: 40%;
  top: 1%;
  right: 10%;
  color: rgb(255, 132, 0);
  text-align: center;
  font-size: 0.8rem;
}

/* BASKET FULL */
.basket {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  width: 40%;
}

.basket-item {
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basket-item img {
  max-width: 15%;
}

.basket-item .item-details {
  flex-grow: 1;
  padding-right: 10px;
}
