body{
  background-color: #000000;
}
.mainContent {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto; /* Enable scrollability */
}

#chat-container {
  max-width: 600px;
  border: 1px solid #ffd814;
  border-radius: 8px;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 10%;
}

#chat-messages {
  padding: 16px;
  max-height: 600px;
  overflow-y: auto;
}

#user-input {
  display: flex;
  padding: 8px;
  background-color: #3e3e3e;
}

#user-input button {
  flex: 1;
  padding: 8px;
  background-color: #ffd814;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

h1,
h2,
h3,
p,
span,
div,
button {
  color: #333;
}

.user-message {
  color: rgb(119, 119, 120); /* Set the color for user messages */
}

.bot-message {
  color: rgb(255, 255, 255); /* Set the color for bot messages */
}

.buytogether-button {
  background-color: #ffd814;
  border: none;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  width: 250px;
  height: 40px;
  margin-left: 2%;
  bottom: 20px; /* Adjusted the bottom position */
}
