body {
  background-color: black;
  color: rgb(0, 0, 0);
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  font-family: 'Avenir', sans-serif;
  overflow-y: scroll;
}

h1 {
  color: white;
  font-family: 'Avenir', sans-serif; 
}

h3 {
  color: antiquewhite;
  font-family: 'Avenir', sans-serif; 
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

.maincontent {
<<<<<<< HEAD
  margin-top: 1%;
=======
  margin-top: 40vh;
>>>>>>> origin/main
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
<<<<<<< HEAD
=======
  flex-grow: 1;
>>>>>>> origin/main
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-content {
  max-width: 60%;
}

.photoandsound,
.cardinfo,
.addressinfo,
.otherinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}

.photoandsound h3,
.cardinfo h3,
.addressinfo h3,
.otherinfo h3 {
  margin-bottom: 10px;
}

.addressinfo a {
  color: #3498db;
}

.side-image {
  max-width: 30%;
  margin-left: 20px;
}
<<<<<<< HEAD
=======
#map{
  height: 400px;
  width: 800px;
}
>>>>>>> origin/main
